.content-form {
    grid-area: form;
    max-width: 30.75rem;

    & h2 {
        font: var(--label-medium);
        text-transform: uppercase;
        color: var(--content-primary);
        margin-bottom: .125rem;
    }

    & p {
        font: var(--paragraph-large);
        color: var(--content-secondary);
        margin-bottom: 2.5rem;
    }
}

form {
    display: flex;
    flex-direction: column;

    & .inputs-wrapper {
        display: flex;
        max-width: 30.125rem;
        gap: .75rem;
    }

    & .input-customizator {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        & label {
            font: var(--label-small);
            color: var(--content-secondary);
            text-transform: uppercase;
        }

        & input {
            border-radius: 8px;
            border: 1px solid var(--background-secondary);
            background-color: var(--background-secondary);
            font: var(--display-small);
            color: var(--content-primary);
            width: 6rem;
            height: 3.5rem;
            padding: 4px 8px;
            margin: 2px;
            text-align: center;
            transition: background-color .5s ease;

            &:hover {
                background-color: var(--background-tertiary);
            }
            &:focus {
                outline: none;
                background-color: var(--background-tertiary);
            }
        }

        & .border-customizate {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: "";
                position: absolute;
                width: 90%;
                height: 90%;
                background-image: var(--gradient-border);
                border-radius: 8px;
                z-index: -1;
                transition: width .3s ease, height .3s ease;
            }
            &:hover {
                &::after {
                    height: 101%;
                    width: 101%;
                }
            }
            &:has(input:focus) {
                &::after {
                    height: 102%;
                    width: 102%;
                }
            }
        }
    }

    & .checkbox-wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 1.25rem;
        margin-top: 1.75rem;

        & label {
            margin-left: 2.375rem;
        }

        & input {
            position: absolute;
            top: 0;
            left: 0;
            width: 1.875rem;
            height: 1.875rem;
            opacity: 0;
            z-index: 2;
        }

        & .slider {
            position: absolute;
            cursor: pointer;
            max-width: 1.875rem;
            inset: 0;
            background: var(--content-tertiary);
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 1rem;
        }

        & .slider::before {
            position: absolute;
            content:  "";
            height: .875rem;
            width: .875rem;
            left: 3px;
            bottom: 3px;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            background-color: var(--content-primary);
            border-radius: 50%;
        }
        
        & input:checked + .slider {
            background: var(--gradient-background);
        }

        & input:checked + .slider::before {
            transform: translateX(11px);
        }
    }
}

.submit-wrapper {
    margin-top: 3.5rem;
    max-width: 482px;
        
    & button {
        display: inline-flex;
        gap: .5rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: var(--background-tertiary);
        color: var(--content-primary);
        font: var(--label-small);
        text-transform: uppercase;
        border: none;
        border-radius: .5rem;
        position: relative;
        cursor: pointer;
        transition: background-color 1s ease;

        &.hide {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0px;
            background: var(--gradient-border);
            z-index: -1;
            border-radius: .57rem;
            transition: inset .3s ease;
        }

        &:hover {
            background-color: var(--background-secondary);
        }

        &:hover::before {
            inset: -1px;
        }

        &:hover > img {
            animation: submitAnimation 2s infinite;
        }
    }
}

.draw-again {
    width: 100%;

    & button {
        width: 100%;
        font: var(--label-small);
        text-transform: uppercase;
        text-align: center;
        color: var(--content-tertiary);
        background-color: var(--background-tertiary);
        border-radius: 8px;
        padding: 1rem;
        outline: none;
        border: none;
    }
}

@keyframes submitAnimation{
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1.25rem)
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (width < 1100px) { 
    .content-form {
        width: 100%;
    }

    button {
        margin-bottom: 5rem;
    }

    form {
        align-items: center;

        & .submit-wrapper {
            width: 100%;
        }

        & .input-customizator {
            align-items: center;
        }

         & .inputs-wrapper {
            justify-content: space-between;
        }
    }
}